<section id="content" class="column onecol">
    <article class="post-14 page type-page status-publish hentry column onecol" id="post-14">
<div class="entry">

  <header class="entry-header">
    <h1 class="entry-title">ABOUT US</h1>
  </header><!-- .entry-header -->
  <div class="entry-content">
                  <h4 style="text-align: center;"><span style="color: #01a777;"><strong>Bridge the gap in soft skills and Employability </strong></span></h4>
<p><span style="color: #000000;"> Welcome to PEAR Academy Australia! PEAR is short for ‘Professional Education Academic Requirement’.</span></p>
<p>PEAR Educators are experienced professionals having worked many years in the Health Science, Higher Education, Vocational, and Secondary Education sectors as educators and coaches. We have therefore a keen appreciation and understanding of the needs of students looking to improve their English language proficiency.</p>
<p>The aim of PEAR’s coaching program is simple: students who undertake the course and complete it must be exceptionally well prepared to sit with confidence for the OET/PTE/IELTS examinations and succeed.</p>
<p>The importance of the academic learning in the English language specific for use in the corporate world and the Health sector cannot be over-emphasised. We also teach you the etiquette that is necessary to build a career in foreign lands. The program is highly interactive involving group activities and in-class presentations. All of these activities are designed to help you gain confidence in improving your communication skills that will have a positive impact on your education journey and also assist you in successfully integrating into the work environment.</p>
<p>We have pleasure in welcoming you on board. It is our aim to help all our students achieve their desired goal of enhancing their proficiency in all the four components of the English language; Reading, Writing, Listening and Speaking in order to successfully sit for and pass the IELTS/OET/PTE examinations for visa and immigration purposes.<br>
</p>
<p>Feedback from higher education academia, industry sectors, multicultural groups and international students laid the foundation for the development of course content. Our team of specialists collaborated to create programs based on the optimum methods of instruction and delivery to meet the individual needs.</p>
<p>PEAR coaching will:</p>
<ul>
<li>Prepare you for OET/IELTS/PTE</li>
<li>Lead to graduation success</li>
<li>Increase productivity and performance</li>
<li>Heighten professional development &amp; career prospects</li>
<li>Help you to achieve your objective of obtaining registration and visa</li>
</ul>
    <div class="clear"></div>
  <!-- .entry-content -->
            </div><!-- .entry -->


</div></article><!-- .post -->
</section>