$pear-black-primary: mat-palette($mat-grey, 700, 300, 900);
$pear-black-accent: mat-palette($mat-blue-grey, 400);
$pear-black-warn: mat-palette($mat-red, 500);

$pear-black-theme: mat-dark-theme(
  $pear-black-primary,
  $pear-black-accent,
  $pear-black-warn
);
