$pear-light-primary: mat-palette($mat-grey, 200, 500, 300);
$pear-light-accent: mat-palette($mat-brown, 200);
$pear-light-warn: mat-palette($mat-deep-orange, 200);

$pear-light-theme: mat-light-theme(
  $pear-light-primary,
  $pear-light-accent,
  $pear-light-warn
);
