$pear-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$pear-nature-accent: mat-palette($mat-deep-purple, 300);
$pear-nature-warn: mat-palette($mat-red, 600);

$pear-nature-theme: mat-light-theme(
  $pear-nature-primary,
  $pear-nature-accent,
  $pear-nature-warn
);
